In [1]:
import pandas as pd
import numpy as np

In [2]:
import os
import glob

folder_path = r'C:\Users\stuti\Downloads\Sales-Analysis-Dataset'
files = glob.glob(os.path.join(folder_path, '*'))  # This will match all files in the folder

for file_path in files:
    print(os.path.basename(file_path))

Combined_Sales_2019.csv
Sales_April_2019.csv
Sales_August_2019.csv
Sales_December_2019.csv
Sales_February_2019.csv
Sales_January_2019.csv
Sales_July_2019.csv
Sales_June_2019.csv
Sales_March_2019.csv
Sales_May_2019.csv
Sales_November_2019.csv
Sales_October_2019.csv
Sales_September_2019.csv

In [3]:
file_path1 = r'C:\Users\stuti\Downloads\Sales-Analysis-Dataset\Sales_April_2019.csv'  
file_path2 = r'C:\Users\stuti\Downloads\Sales-Analysis-Dataset\Sales_August_2019.csv'    
file_path3 = r'C:\Users\stuti\Downloads\Sales-Analysis-Dataset\Sales_December_2019.csv'   
file_path4 = r'C:\Users\stuti\Downloads\Sales-Analysis-Dataset\Sales_February_2019.csv'  
file_path5 = r'C:\Users\stuti\Downloads\Sales-Analysis-Dataset\Sales_January_2019.csv'    
file_path6 = r'C:\Users\stuti\Downloads\Sales-Analysis-Dataset\Sales_July_2019.csv'   
file_path7 = r'C:\Users\stuti\Downloads\Sales-Analysis-Dataset\Sales_June_2019.csv'  
file_path8 = r'C:\Users\stuti\Downloads\Sales-Analysis-Dataset\Sales_March_2019.csv'   
file_path9 = r'C:\Users\stuti\Downloads\Sales-Analysis-Dataset\Sales_May_2019.csv'
file_path10 = r'C:\Users\stuti\Downloads\Sales-Analysis-Dataset\Sales_November_2019.csv'   
file_path11 = r'C:\Users\stuti\Downloads\Sales-Analysis-Dataset\Sales_October_2019.csv'  
file_path12 = r'C:\Users\stuti\Downloads\Sales-Analysis-Dataset\Sales_October_2019.csv'

In [4]:
df1 = pd.read_csv(file_path1)
df2 = pd.read_csv(file_path2)
df3 = pd.read_csv(file_path3)
df4 = pd.read_csv(file_path4)
df5 = pd.read_csv(file_path5)
df6 = pd.read_csv(file_path6)
df7 = pd.read_csv(file_path7)
df8 = pd.read_csv(file_path8)
df9 = pd.read_csv(file_path9)
df10 = pd.read_csv(file_path10)
df11 = pd.read_csv(file_path11)
df12 = pd.read_csv(file_path12)

combined_df = pd.concat([df1, df2,df3,df4,df5,df6,df7,df8,df9,df10,df11,df12], ignore_index=True)

In [5]:
output_file = os.path.join(folder_path, 'Combined_Sales_2019.csv')
combined_df.to_csv(output_file, index=False)
print(f"Combined CSV saved as '{output_file}'")

Combined CSV saved as 'C:\Users\stuti\Downloads\Sales-Analysis-Dataset\Combined_Sales_2019.csv'

In [1]:
import pandas as pd
df= pd.read_csv(r'C:\Users\stuti\Downloads\Sales-Analysis-Dataset\Combined_Sales_2019.csv')

In [2]:
df

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001"
1,NaN,NaN,NaN,NaN,NaN,NaN
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215"
3,176560,Google Phone,1,600,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
...,...,...,...,...,...,...
195538,278792,AA Batteries (4-pack),1,3.84,10/12/19 04:32,"920 Adams St, San Francisco, CA 94016"
195539,278793,Wired Headphones,1,11.99,10/28/19 22:00,"161 Chestnut St, Los Angeles, CA 90001"
195540,278794,AA Batteries (4-pack),1,3.84,10/09/19 20:58,"346 Spruce St, San Francisco, CA 94016"
195541,278795,iPhone,1,700,10/31/19 17:21,"291 Hill St, Seattle, WA 98101"
195542,278796,Wired Headphones,1,11.99,10/13/19 11:20,"547 Jefferson St, Los Angeles, CA 90001"

In [3]:
df.shape

(195543, 6)

In [4]:
df.isnull().sum()

Order ID            567
Product             567
Quantity Ordered    567
Price Each          567
Order Date          567
Purchase Address    567
dtype: int64

In [5]:
df=df.dropna()

In [6]:
df.shape

(194976, 6)

In [7]:
df.duplicated().sum()

20900

In [8]:
df= df.drop_duplicates()

In [9]:
df.shape

(174076, 6)

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 174076 entries, 0 to 175163
Data columns (total 6 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Order ID          174076 non-null  object
 1   Product           174076 non-null  object
 2   Quantity Ordered  174076 non-null  object
 3   Price Each        174076 non-null  object
 4   Order Date        174076 non-null  object
 5   Purchase Address  174076 non-null  object
dtypes: object(6)
memory usage: 9.3+ MB

In [11]:
df[df['Product'] == 'Product']

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
519,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address

In [12]:
df=df.drop(519)

In [13]:
duplicated_order=df[df.duplicated('Order ID',keep=False)]

In [14]:
duplicated_order

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
3,176560,Google Phone,1,600,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
18,176574,Google Phone,1,600,04/03/19 19:42,"20 Hill St, Los Angeles, CA 90001"
19,176574,USB-C Charging Cable,1,11.95,04/03/19 19:42,"20 Hill St, Los Angeles, CA 90001"
32,176586,AAA Batteries (4-pack),2,2.99,04/10/19 17:00,"365 Center St, San Francisco, CA 94016"
...,...,...,...,...,...,...
175070,278706,USB-C Charging Cable,1,11.95,10/07/19 18:18,"942 11th St, San Francisco, CA 94016"
175074,278710,USB-C Charging Cable,1,11.95,10/13/19 19:05,"183 5th St, San Francisco, CA 94016"
175075,278710,27in FHD Monitor,1,149.99,10/13/19 19:05,"183 5th St, San Francisco, CA 94016"
175083,278718,USB-C Charging Cable,1,11.95,10/13/19 12:45,"479 Lincoln St, Atlanta, GA 30301"
175084,278718,Bose SoundSport Headphones,1,99.99,10/13/19 12:45,"479 Lincoln St, Atlanta, GA 30301"

In [15]:
df['Product'].value_counts()

USB-C Charging Cable          20408
Lightning Charging Cable      20285
AAA Batteries (4-pack)        19329
AA Batteries (4-pack)         19242
Wired Headphones              17675
Apple Airpods Headphones      14565
Bose SoundSport Headphones    12472
27in FHD Monitor               7021
iPhone                         6443
27in 4K Gaming Monitor         5844
34in Ultrawide Monitor         5798
Google Phone                   5180
Flatscreen TV                  4503
Macbook Pro Laptop             4434
ThinkPad Laptop                3877
20in Monitor                   3824
Vareebadd Phone                1939
LG Washing Machine              620
LG Dryer                        616
Name: Product, dtype: int64

In [16]:
df.loc[df['Order ID']== '141234']

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
67547,141234,iPhone,1,700,01/22/19 21:25,"944 Walnut St, Boston, MA 02215"

In [17]:
df2 = pd.crosstab(df['Order ID'], df['Product'])
df2.head()

Product,20in Monitor,27in 4K Gaming Monitor,27in FHD Monitor,34in Ultrawide Monitor,AA Batteries (4-pack),AAA Batteries (4-pack),Apple Airpods Headphones,Bose SoundSport Headphones,Flatscreen TV,Google Phone,LG Dryer,LG Washing Machine,Lightning Charging Cable,Macbook Pro Laptop,ThinkPad Laptop,USB-C Charging Cable,Vareebadd Phone,Wired Headphones,iPhone
Order ID,,,,,,,,,,,,,,,,,,,
141234,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
141235,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0
141236,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0
141237,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
141238,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0

In [18]:
df2.shape

(167230, 19)

In [19]:
df.shape

(174075, 6)

In [20]:
def encode(item_freq):
    res = 0
    if item_freq > 0:
        res = 1
    return res
    
basket_input = df2.applymap(encode)

In [21]:
basket_input

Product,20in Monitor,27in 4K Gaming Monitor,27in FHD Monitor,34in Ultrawide Monitor,AA Batteries (4-pack),AAA Batteries (4-pack),Apple Airpods Headphones,Bose SoundSport Headphones,Flatscreen TV,Google Phone,LG Dryer,LG Washing Machine,Lightning Charging Cable,Macbook Pro Laptop,ThinkPad Laptop,USB-C Charging Cable,Vareebadd Phone,Wired Headphones,iPhone
Order ID,,,,,,,,,,,,,,,,,,,
141234,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
141235,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0
141236,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0
141237,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
141238,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
319666,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0
319667,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
319668,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
319669,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0
319670,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0

In [22]:
from mlxtend.frequent_patterns import apriori

itemsets = apriori(basket_input, min_support=0.001, use_colnames=True)

C:\Users\stuti\AppData\Roaming\Python\Python39\site-packages\mlxtend\frequent_patterns\fpcommon.py:109: DeprecationWarning: DataFrames with non-bool types result in worse computationalperformance and their support might be discontinued in the future.Please use a DataFrame with bool type
  warnings.warn(

In [23]:
itemsets

     support                                    itemsets
0   0.022867                              (20in Monitor)
1   0.034946                    (27in 4K Gaming Monitor)
2   0.041984                          (27in FHD Monitor)
3   0.034671                    (34in Ultrawide Monitor)
4   0.114967                     (AA Batteries (4-pack))
5   0.115470                    (AAA Batteries (4-pack))
6   0.087096                  (Apple Airpods Headphones)
7   0.074580                (Bose SoundSport Headphones)
8   0.026927                             (Flatscreen TV)
9   0.030975                              (Google Phone)
10  0.003684                                  (LG Dryer)
11  0.003707                        (LG Washing Machine)
12  0.121264                  (Lightning Charging Cable)
13  0.026514                        (Macbook Pro Laptop)
14  0.023184                           (ThinkPad Laptop)
15  0.122012                      (USB-C Charging Cable)
16  0.011595                           (Vareebadd Phone)
17  0.105687                          (Wired Headphones)
18  0.038528                                    (iPhone)
19  0.002105          (iPhone, Apple Airpods Headphones)
20  0.001292  (Google Phone, Bose SoundSport Headphones)
21  0.005597        (Google Phone, USB-C Charging Cable)
22  0.002416            (Google Phone, Wired Headphones)
23  0.005687          (Lightning Charging Cable, iPhone)
24  0.002069     (USB-C Charging Cable, Vareebadd Phone)
25  0.001172    (Wired Headphones, USB-C Charging Cable)
26  0.002595                  (Wired Headphones, iPhone)

In [24]:
from mlxtend.frequent_patterns import association_rules
rules = association_rules(itemsets, metric="lift", min_threshold=1)

In [25]:
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
0,(Google Phone),(USB-C Charging Cable),0.030975,0.122012,0.005597,0.180695,1.480966,0.001818,1.071626,0.335146
1,(USB-C Charging Cable),(Google Phone),0.122012,0.030975,0.005597,0.045873,1.480966,0.001818,1.015614,0.369897
2,(Lightning Charging Cable),(iPhone),0.121264,0.038528,0.005687,0.046896,1.217195,0.001015,1.008780,0.203063
3,(iPhone),(Lightning Charging Cable),0.038528,0.121264,0.005687,0.147602,1.217195,0.001015,1.030899,0.185589
4,(USB-C Charging Cable),(Vareebadd Phone),0.122012,0.011595,0.002069,0.016957,1.462504,0.000654,1.005455,0.360189
5,(Vareebadd Phone),(USB-C Charging Cable),0.011595,0.122012,0.002069,0.178442,1.462504,0.000654,1.068688,0.319951

In [38]:
from mlxtend.frequent_patterns import apriori

itemsets = apriori(basket_input, min_support=0.001, use_colnames=True)

C:\Users\stuti\AppData\Roaming\Python\Python39\site-packages\mlxtend\frequent_patterns\fpcommon.py:109: DeprecationWarning: DataFrames with non-bool types result in worse computationalperformance and their support might be discontinued in the future.Please use a DataFrame with bool type
  warnings.warn(

In [39]:
itemsets

     support                                    itemsets
0   0.022867                              (20in Monitor)
1   0.034946                    (27in 4K Gaming Monitor)
2   0.041984                          (27in FHD Monitor)
3   0.034671                    (34in Ultrawide Monitor)
4   0.114967                     (AA Batteries (4-pack))
5   0.115470                    (AAA Batteries (4-pack))
6   0.087096                  (Apple Airpods Headphones)
7   0.074580                (Bose SoundSport Headphones)
8   0.026927                             (Flatscreen TV)
9   0.030975                              (Google Phone)
10  0.003684                                  (LG Dryer)
11  0.003707                        (LG Washing Machine)
12  0.121264                  (Lightning Charging Cable)
13  0.026514                        (Macbook Pro Laptop)
14  0.023184                           (ThinkPad Laptop)
15  0.122012                      (USB-C Charging Cable)
16  0.011595                           (Vareebadd Phone)
17  0.105687                          (Wired Headphones)
18  0.038528                                    (iPhone)
19  0.002105          (iPhone, Apple Airpods Headphones)
20  0.001292  (Google Phone, Bose SoundSport Headphones)
21  0.005597        (Google Phone, USB-C Charging Cable)
22  0.002416            (Google Phone, Wired Headphones)
23  0.005687          (Lightning Charging Cable, iPhone)
24  0.002069     (USB-C Charging Cable, Vareebadd Phone)
25  0.001172    (Wired Headphones, USB-C Charging Cable)
26  0.002595                  (Wired Headphones, iPhone)

In [44]:
from mlxtend.frequent_patterns import association_rules
rules = association_rules(itemsets, metric="lift", min_threshold=0.1)

In [45]:
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
0,(iPhone),(Apple Airpods Headphones),0.038528,0.087096,0.002105,0.054633,0.627275,-0.001251,0.965661,-0.381956
1,(Apple Airpods Headphones),(iPhone),0.087096,0.038528,0.002105,0.024168,0.627275,-0.001251,0.985284,-0.394264
2,(Google Phone),(Bose SoundSport Headphones),0.030975,0.074580,0.001292,0.041699,0.559116,-0.001019,0.965688,-0.448654
3,(Bose SoundSport Headphones),(Google Phone),0.074580,0.030975,0.001292,0.017319,0.559116,-0.001019,0.986103,-0.460068
4,(Google Phone),(USB-C Charging Cable),0.030975,0.122012,0.005597,0.180695,1.480966,0.001818,1.071626,0.335146
5,(USB-C Charging Cable),(Google Phone),0.122012,0.030975,0.005597,0.045873,1.480966,0.001818,1.015614,0.369897
6,(Google Phone),(Wired Headphones),0.030975,0.105687,0.002416,0.077992,0.737957,-0.000858,0.969963,-0.268173
7,(Wired Headphones),(Google Phone),0.105687,0.030975,0.002416,0.022858,0.737957,-0.000858,0.991693,-0.284209
8,(Lightning Charging Cable),(iPhone),0.121264,0.038528,0.005687,0.046896,1.217195,0.001015,1.008780,0.203063
9,(iPhone),(Lightning Charging Cable),0.038528,0.121264,0.005687,0.147602,1.217195,0.001015,1.030899,0.185589
10,(USB-C Charging Cable),(Vareebadd Phone),0.122012,0.011595,0.002069,0.016957,1.462504,0.000654,1.005455,0.360189
11,(Vareebadd Phone),(USB-C Charging Cable),0.011595,0.122012,0.002069,0.178442,1.462504,0.000654,1.068688,0.319951
12,(Wired Headphones),(iPhone),0.105687,0.038528,0.002595,0.024556,0.637354,-0.001477,0.985676,-0.388838
13,(iPhone),(Wired Headphones),0.038528,0.105687,0.002595,0.067360,0.637354,-0.001477,0.958905,-0.371775

In [63]:
df

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001"
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215"
3,176560,Google Phone,1,600,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
5,176561,Wired Headphones,1,11.99,04/30/19 09:27,"333 8th St, Los Angeles, CA 90001"
...,...,...,...,...,...,...
175159,278792,AA Batteries (4-pack),1,3.84,10/12/19 04:32,"920 Adams St, San Francisco, CA 94016"
175160,278793,Wired Headphones,1,11.99,10/28/19 22:00,"161 Chestnut St, Los Angeles, CA 90001"
175161,278794,AA Batteries (4-pack),1,3.84,10/09/19 20:58,"346 Spruce St, San Francisco, CA 94016"
175162,278795,iPhone,1,700,10/31/19 17:21,"291 Hill St, Seattle, WA 98101"
175163,278796,Wired Headphones,1,11.99,10/13/19 11:20,"547 Jefferson St, Los Angeles, CA 90001"

In [115]:
grouped = df.groupby('Order ID')['Product'].apply(list).reset_index()

expanded = pd.DataFrame(grouped['Product'].to_list(), index=grouped['Order ID'])

final_df = expanded.reset_index()

In [116]:
final_df = final_df.drop('Order ID', axis =1)

In [117]:
final_df

                                 0     1     2     3     4
0                           iPhone  None  None  None  None
1         Lightning Charging Cable  None  None  None  None
2                 Wired Headphones  None  None  None  None
3                 27in FHD Monitor  None  None  None  None
4                 Wired Headphones  None  None  None  None
...                            ...   ...   ...   ...   ...
167225    Lightning Charging Cable  None  None  None  None
167226       AA Batteries (4-pack)  None  None  None  None
167227             Vareebadd Phone  None  None  None  None
167228            Wired Headphones  None  None  None  None
167229  Bose SoundSport Headphones  None  None  None  None

[167230 rows x 5 columns]

In [107]:
from pyECLAT import ECLAT
eclat_instance = ECLAT(data=final_df, verbose=True)

100%|██████████████████████████████████████████████████████████████████████████████████| 20/20 [00:00<00:00, 49.51it/s]
100%|█████████████████████████████████████████████████████████████████████████████████| 20/20 [00:00<00:00, 134.07it/s]
100%|█████████████████████████████████████████████████████████████████████████████████| 20/20 [00:00<00:00, 457.66it/s]

In [108]:
eclat_instance.df_bin  
eclat_instance.uniq_

['Lightning Charging Cable',
 'AA Batteries (4-pack)',
 'Bose SoundSport Headphones',
 '34in Ultrawide Monitor',
 'Macbook Pro Laptop',
 '20in Monitor',
 'AAA Batteries (4-pack)',
 'iPhone',
 'LG Washing Machine',
 '27in FHD Monitor',
 'Vareebadd Phone',
 None,
 'LG Dryer',
 'Apple Airpods Headphones',
 'Flatscreen TV',
 'Google Phone',
 '27in 4K Gaming Monitor',
 'Wired Headphones',
 'ThinkPad Laptop',
 'USB-C Charging Cable']

In [109]:
get_ECLAT_indexes, get_ECLAT_supports = eclat_instance.fit(min_support=0.08,
                                                           min_combination=1,
                                                           max_combination=3,
                                                           separator=' & ',
                                                           verbose=True)

Combination 1 by 1

6it [00:00, 36.20it/s]

Combination 2 by 2

15it [00:00, 130.15it/s]

Combination 3 by 3

20it [00:00, 123.20it/s]

In [110]:
import pandas as pd
result = pd.DataFrame(get_ECLAT_supports.items(),columns=['Item', 'Support'])
result.sort_values(by=['Support'], ascending=False)

                       Item   Support
5      USB-C Charging Cable  0.122012
0  Lightning Charging Cable  0.121264
2    AAA Batteries (4-pack)  0.115470
1     AA Batteries (4-pack)  0.114967
4          Wired Headphones  0.105687
3  Apple Airpods Headphones  0.087096

In [111]:
result

                       Item   Support
0  Lightning Charging Cable  0.121264
1     AA Batteries (4-pack)  0.114967
2    AAA Batteries (4-pack)  0.115470
3  Apple Airpods Headphones  0.087096
4          Wired Headphones  0.105687
5      USB-C Charging Cable  0.122012